// just variable declarations
$slime-green: #a4df03;
$darkish-blue: #004782;
$light-blue-grey: #d8e7ef;
$twilight-blue: #0c346c;
$twilight-blue-two: #0a467f;
$warm-grey: #878787;
$greyish-brown: #545454;
$slate: #394b5a;
